ul {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 auto;
  padding: 10px;
  width: 98%;
  height: 100%;
  background-color: darkgreen;
  opacity: 0.7;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 2px -3px 22px 1px black;
  text-decoration: none;
  border-radius: 10px;
}
ul .logo-img {
  display: flex;
  align-items: center;
}
ul a {
  color: black;
  opacity: none;
  text-decoration: bold;
}
ul a:hover {
  color: lightgreen;
}
.luncher-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 98%;
  background-image: url(/images/back-to-school.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.luncher-header .slogan {
  flex-direction: column;
}
.main-body {
  display: flex;
  flex-direction: column;
}
.main-body .test {
  flex-direction: row;
}
.main-body .donation {
  margin: 0 auto;
}
footer {
  display: flex;
  justify-content: center;
}
