* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
  box-sizing: border-box;
  background-color: beige;
  margin: 0 auto;
  font-size: 1em;
}
@media (max-width: 800px) {
  body {
    width: 100%;
    margin: 0 auto;
    font-size: 0.8em;
  }
}
@media (max-width: 500px) {
  body {
    width: 100%;
    margin: 0 auto;
  }
}
.nav-bar {
  position: fixed;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  font-family: 'Courier New', Courier, monospace;
}
ul a {
  margin: 0px;
  color: white;
  text-decoration: none;
  width: 100%;
}
ul a:hover {
  color: lightgreen;
}
@media (max-width: 500px) {
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    width: 100%;
    padding: 10px;
  }
}
.luncher-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  background-color: #ffde59;
}
.luncher-header .luncher {
  width: 100%;
}
.luncher-header .slogan {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 200;
  line-height: 30px;
  color: white;
}
.luncher-header p {
  margin: 0 auto;
  font-size: 21px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media (max-width: 500px) {
  .luncher-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
.main-body {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 200;
  line-height: 30px;
}
.main-body .form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
}
.main-body .form-box h2 {
  display: flex;
  justify-content: center;
}
.form1 {
  display: flex;
  justify-content: center;
}
.form1 .donation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
  border-radius: 20px;
  padding: 10px;
  width: 450px;
  height: 375px;
}
@media (max-width: 500px) {
  .form1 .donation-form {
    width: 50%;
  }
}
.form1 button {
  width: 300px;
  margin: 0 auto;
  height: 50px;
  border-radius: 10px;
  background-color: lightgreen;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
@media (max-width: 500px) {
  .form1 button {
    width: 100%;
  }
}
.form1 button:hover {
  background-color: lightgoldenrodyellow;
  color: black;
  cursor: pointer;
}
.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
}
.test h2 {
  display: flex;
  justify-content: center;
}
.test button {
  width: 300px;
  margin: 0 auto;
  margin-top: 10px;
  height: 50px;
  border-radius: 10px;
  background-color: royalblue;
  color: ghostwhite;
  font-size: 15px;
  font-weight: bold;
}
@media (max-width: 500px) {
  .test button {
    width: 100%;
  }
}
.test button:hover {
  background-color: ghostwhite;
  color: royalblue;
  cursor: pointer;
}
@media (max-width: 500px) {
  .test {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .test .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.donation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
}
.donation h2 {
  display: flex;
  justify-content: center;
}
.donation button {
  width: 300px;
  margin: 0 auto;
  margin-top: 10px;
  height: 50px;
  border-radius: 10px;
  background-color: royalblue;
  color: ghostwhite;
  font-size: 15px;
  font-weight: bold;
}
@media (max-width: 500px) {
  .donation button {
    width: 100%;
  }
}
.donation button:hover {
  background-color: ghostwhite;
  color: royalblue;
  cursor: pointer;
}
#donations {
  width: 100%;
  height: 2em;
  background-color: lightgrey;
  text-align: center;
  color: black;
  border-radius: 10px;
}
#bar {
  width: 75%;
  height: 30px;
  background-color: lightgreen;
  border-radius: 10px;
}
footer {
  display: flex;
  justify-content: center;
  color: white;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  footer {
    width: 100%;
  }
  footer p {
    font-size: 0.5em;
  }
}
footer .nav-footer {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
}
